.logo {
  width: 2em;
}

header {
  background-color: #004074;
  padding: 10px 38px;
  h1 {
    margin: 0;
  }
  .navbar {
    background-color: inherit;
    border-color: transparent;
    margin: 0;
    .navbar-nav>li>a {
      color: #fff;
    }
  }
}
