<!-- banner-text -->
<div class="banner-text">
  <h2>{{ 'PICK_YOUR_DESTINATION' | translate:lang }}</h2>
  <div class="book-form" id="register">
    <div class="col-md-3 form-time-w3layouts">
      <label>{{ 'TRAVELLING_FROM' | translate:lang }}</label>
      <select class="form-control">
        <option>From</option>
        <option>New York</option>
        <option>Lisbon</option>
        <option>Melbourne</option>
        <option>Berlin</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-md-3 form-left-agileits-w3layouts ">
      <label>{{ 'TRAVELLING_TO' | translate:lang }}</label>
      <select class="form-control">
        <option>To</option>
        <option>Torino</option>
        <option>Madrid</option>
        <option>London</option>
        <option>Wellington</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-md-3 form-date-w3-agileits">
      <label>{{ 'DEPARTURE_DATE' | translate:lang }}</label>
      <input id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
        required="">
    </div>
    <div class="col-md-3 form-left-agileits-submit">
      <button class="submit" (click)="searchFlights()">{{ 'search' | translate:lang }}</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- banner END-->
<app-flight-filter *ngIf="filteredList" [flights]=filteredList (selectionChanged)="filterSearch($event)"></app-flight-filter>
<!-- Flight Listing -->
<section class="col" *ngIf="filteredList">
  <div class="flight-listing-container">
    <span>{{filteredList?.length}} records found</span>
    <ul class="results-list">
      <li class="offer-listing" *ngFor="let flight of filteredList">
        <div class="flex-content">
          <div class="flex-area-primary">
            <div class="flex-card flex-listing">
              <div class="flex-figure">
                <figure class="flex-image">
                  <img src={{flight.logoUrl}} />
                </figure>
              </div>
              <div class="flex-content">
                <div class="flex-area-primary">
                  <div class="primary-block">
                    <div class="primary">
                      <span class="departure-time">{{flight.deptime}}</span>
                      -
                      <span class="arrival-time">{{flight.arrtime}}</span>
                    </div>
                    <div class="secondary">{{flight.airline}}</div>
                  </div>
                  <div class="primary-block">
                    <div class="primary duration-emphasis">
                      <span class="departure-time">{{flight.deptime}}</span>
                    </div>
                    <div class="secondary"></div>
                  </div>
                  <div class="primary-block">
                    {{flight.stops}} {{ 'STOP' | translate:lang }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-area-secondary">
            <div class="price-button-wrapper">
              <div class="price-column">
                <div class="offer-price">
                  <span class="price-emphasis">{{flight.fare | currency:'INR': true : '1.0-2' }}</span>
                </div>
              </div>
              <button [routerLink]="['/detail', flight.flightId]" class="select">Select</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Flight Listing END-->
