<!-- banner-text -->
<div class="banner-text">
  <h2>Hundreds of Destinations Worldwide</h2>
  <div class="book-form" id="register">
    <p>Pick your destination</p>
    <div class="col-md-3 form-time-w3layouts">
      <label>Travelling From</label>
      <select class="form-control">
        <option>From</option>
        <option>New York</option>
        <option>Lisbon</option>
        <option>Melbourne</option>
        <option>Berlin</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-md-3 form-left-agileits-w3layouts ">
      <label>Travelling To</label>
      <select class="form-control">
        <option>To</option>
        <option>Torino</option>
        <option>Madrid</option>
        <option>London</option>
        <option>Wellington</option>
        <option>Other</option>
      </select>
    </div>
    <div class="col-md-3 form-date-w3-agileits">
      <label>Departure Date</label>
      <input id="datepicker1" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}"
        required="">
    </div>
    <div class="col-md-3 form-left-agileits-submit">
      <button class="submit" (click)="searchFlights()">search</button>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- banner END-->
<aside class="col">
  <section class="pattern-filters">
    <div class="filter-container">
      <fieldset id="airlines" class="filter-set">
        <legend class="section-header-sub">
          <span>Airlines included</span>
        </legend>
        <label class="check filter-option">
          <input type="checkbox">
          <span class="inline-label">Jet Airways (
            <span class="count">45</span>)</span>
        </label>
        <label class="check filter-option">
          <input type="checkbox">
          <span class="inline-label">Air India (
            <span class="count">21</span>)</span>
        </label>
        <label class="check filter-option">
          <input type="checkbox">
          <span class="inline-label">Hahn Air Systems (
            <span class="count">6</span>)</span>
        </label>
      </fieldset>
    </div>
  </section>
</aside>
<!-- Flight Listing -->
<section class="col">
  <div class="flight-listing-container">
    <ul class="results-list">
      <li class="offer-listing" *ngFor="let flight of flightsList">
        <div class="flex-content">
          <div class="flex-area-primary">
            <div class="flex-card flex-listing">
              <div class="flex-figure">
                <figure class="flex-image">
                  <img src={{flight.logoUrl}} />
                </figure>
              </div>
              <div class="flex-content">
                <div class="flex-area-primary">
                  <div class="primary-block">
                    <div class="primary">
                      <span class="departure-time">{{flight.deptime}}</span>
                      -
                      <span class="arrival-time">{{flight.arrtime}}</span>
                    </div>
                    <div class="secondary">{{flight.airline}}</div>
                  </div>
                  <div class="primary-block">
                    <div class="primary duration-emphasis">
                      <span class="departure-time">{{flight.deptime}}</span>
                    </div>
                    <div class="secondary"></div>
                  </div>
                  <div class="primary-block">
                    {{flight.stops}} stop
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-area-secondary">
            <div class="price-button-wrapper">
              <div class="price-column">
                <div class="offer-price">
                  <span class="price-emphasis">{{flight.totalfare}}</span>
                </div>
              </div>
              <button [routerLink]="['/detail', flight.flightId]" class="select">Select</button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- Flight Listing END-->
