.submit {
  text-transform: capitalize;
  background: #ffa200;
  border: solid 1px #ffa200;
  color: #FFFFFF;
  padding: .64em 2em;
  font-size: .79em;
  outline: none;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  text-transform: uppercase;
  width: 100%;
  font-weight: 600;
  margin-top: 2.4em;
  -webkit-appearance: none;
}

.banner-text {
  text-align: center;
  padding: 0em 0 0 0;
}

.flight-listing-container {
  .results-list {
    list-style: none;
  }
  .offer-listing {
    background-color: #fff;
    margin: 8px 0;
    padding: 25px 15px;
  }
  .flex-content {
    flex: 1 1 auto;
    display: flex;
  }
  .flex-card {
    display: flex;
    .flex-figure {
      width: 3.52941176em;
      img {
        width: 3.52941176em;
        padding: .70588235em;
      }
    }
    .flex-area-primary .primary-block {
      display: inline-block;
      min-width: 9em;
      vertical-align: top;
      padding-right: .29411765em;
    }
  }
  .flex-area-secondary {
    padding: .70588235em .70588235em 0 0;
    .price-button-wrapper {
      display: table-row;
      float: right;
      .price-column {
        display: block;
        float: none;
        padding-right: 0;
        .offer-price {
          cursor: default;
          white-space: nowrap;
        }
      }
      .select {
        border-color: #d4a900 #aa8700 #aa8700;
        background: #ffbe00;
        background: linear-gradient(to top, #ffbe00 0, #ffcb00 100%);
        color: #3d3100;
      }
    }
  }
}

section.col {
  width: 75%;
}

.search-container {
  margin-top: 35px;
  background-color: #ededed;
}

.result-listing {
  margin: 0 auto;
  width: 80%;
  padding-top: 25px;
  .heading {
    float: left;
    width: 100%;
    font-size: 1.17647059em;
    color: #00355f;
    font-weight: 700;
    padding-bottom: 15px;
  }
}

.col {
  float: left;
}

:host {
  background-image: url("/assets/images/hero-banner.jpeg");
  float: left;
  width: 100%;
  height: 100vh;
}

.hero-banner-box {
  background-color: rgba(0, 0, 0, .75);
  color: #c7c7c7;
  box-shadow: 0 0 0.8823em 0 rgba(0, 0, 0, .5);
  width: 60%;
  margin: 0 auto;
  padding: 37px 10px 60px;
  margin-top: 140px;
  h2 {
    color: #fff;
    padding-bottom: 20px;
    font-size: 23px;
    text-transform: uppercase;
  }
}
