<aside class="col">
  <section class="pattern-filters">
    <div class="filter-container">
      <fieldset id="airlines" class="filter-set">
        <legend class="section-header-sub">
          <span>Airlines included</span>
        </legend>
        <label class="check filter-option" *ngFor="let filter of flightFilter">
          <input type="checkbox">
          <span class="inline-label">{{filter.name}}
            <span class="count" *ngIf="filter.count">({{filter.count}})</span>
          </span>
        </label>
      </fieldset>
    </div>
  </section>
</aside>
