aside {
  .pattern-filters {
    .filter-option {
      display: block;
    }
    .section-header-sub {
      font-size: 1.1em;
    }
    .inline-label {
      font-size: 0.9em;
    }
  }
  .section-header-sub span {
    color: #536d83;
  }
  .filter-option {
    span {
      font-weight: 400;
    }
  }
}

:host {
  float: left;
}
